.badge {
    background-color: red;
    margin: 20px;
    padding: 8px;
    position: absolute;
    top: 15px;
    left: 850px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
}

.feed {
    display: flex;
}

.footer {
    float: right;
    width: 80%;
}

.navigation-bar {
    margin: 20px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.page {
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
}